apiVersion: v1
kind: Service
metadata:
  name: redis-service
  namespace: vulnzero
  labels:
    app: vulnzero
    component: redis
spec:
  type: ClusterIP
  selector:
    app: vulnzero
    component: redis
  ports:
  - name: redis
    port: 6379
    targetPort: redis
    protocol: TCP
