apiVersion: v1
kind: Service
metadata:
  name: api-service
  namespace: vulnzero
  labels:
    app: vulnzero
    component: api
spec:
  type: ClusterIP
  selector:
    app: vulnzero
    component: api
  ports:
  - name: http
    port: 8000
    targetPort: http
    protocol: TCP
