apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: vulnzero
  labels:
    app: vulnzero
    component: frontend
spec:
  type: ClusterIP
  selector:
    app: vulnzero
    component: frontend
  ports:
  - name: http
    port: 80
    targetPort: http
    protocol: TCP
